{% extends 'core/base.html' %}

{% block title %}Proyectos{% endblock %}

{% block bkg_img %}{% load static %}{% static '/core/img/proyecto-rocas.jpg' %}{% endblock %}

{% block header %}
<section class="header1 bkg-wood mbr-parallax-background" id="header1-f" style="padding-top: 8rem; padding-bottom: 8rem;">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #65C6D4;"></div>
    <div class="align-center container">
        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Proyectos</strong></h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
 {% for project in projects %}

      <div class="row project mb-5">
         <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{{project.image.url}}" alt="">
         </div>
         <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{project.title}}</h2>
            <p>{{project.description|linebreaks}}</p>
            {% if project.link %}
            <p><a href="{{project.link}}">Más información</a></p>
            {% endif %}
         </div>
      </div>
    {% empty %}
<!-- Este bloque se renderiza SOLO si la lista 'projects' está vacía -->
      <div class="row justify-content-center text-center my-5 py-4">
         <div class="col-lg-8">
            <div class="alert alert-info shadow-sm p-4" role="alert" style="border-radius: 10px;">
               <h4 class="alert-heading mb-2">📁 No hay proyectos para mostrar</h4>
            </div>
         </div>
      </div>
   {% endfor %}
{% endblock %}
