{% extends 'core/base.html' %}

{% block title %}Tecnologías{% endblock %}

{% block bkg_img %}{% load static %}{% static '/core/img/about-bg.jpg' %}{% endblock %}

{% block header %}
<section class="header1 bkg-wood mbr-parallax-background" id="header1-f" style="padding-top: 8rem; padding-bottom: 8rem;">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #65C6D4;"></div>
    <div class="align-center container">
        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Tecnologías</strong></h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="clients2 cid-sjsHGKf7dW" id="clients2-r">

    <div class="container-fluid">
         <div class="row justify-content-center">
            {% for tech in techs %}
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="img-wrapper">
                        {{ tech.icon_svg|safe }}
                    </div>
                    <div class="card-box align-center">
                        <h5 class="card-title mbr-fonts-style mb-3 display-5"><strong>{{ tech.name }}</strong></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% endblock %}