
.bkg-trees {
  background-image: url("../../../assets/images/trees.3fd741bdc31d.jpg");
}
.bkg-trees .mbr-section-title {
  text-align: center;
  color: #000000;
}
.bkg-trees .mbr-text,
.bkg-trees .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .bkg-trees .mbr-section-title,
  .bkg-trees .mbr-section-btn,
  .bkg-trees .mbr-text {
    text-align: center;
  }
}

.bkg-paint {
    background-image: url("../../../assets/images/mbr-1920x1281.12063e4f7452.jpg");
  }
  .bkg-paint .mbr-section-title {
    text-align: center;
    color: #000000;
  }
  .bkg-paint .mbr-text,
  .bkg-paint .mbr-section-btn {
    color: #232323;
    text-align: center;
  }
  @media (max-width: 991px) {
    .bkg-paint .mbr-section-title,
    .bkg-paint .mbr-section-btn,
    .bkg-paint .mbr-text {
      text-align: center;
    }
  }

  .bkg-water {
    background-image: url("../../../assets/images/water.f60814766148.jpg");
  }
  .bkg-water .mbr-section-title {
    text-align: center;
    color: #000000;
  }
  .bkg-water .mbr-text,
  .bkg-water .mbr-section-btn {
    color: #232323;
    text-align: center;
  }
  @media (max-width: 991px) {
    .bkg-water .mbr-section-title,
    .bkg-water .mbr-section-btn,
    .bkg-water .mbr-text {
      text-align: center;
    }
  }

.bkg-wood {
    background-image: url("../../../assets/images/wood.a8ac27c58ae9.jpg");
}

.bkg-wood .mbr-section-title {
    text-align: center;
    color: #000000;
}

.bkg-wood .mbr-text,
.bkg-wood .mbr-section-btn {
    color: #232323;
    text-align: center;
}

@media (max-width: 991px) {
    .bkg-wood .mbr-section-title,
    .bkg-wood .mbr-section-btn,
    .bkg-wood .mbr-text {
        text-align: center;
    }s
}

.bkg-snow {
  background-image: url("../../../assets/images/snow.9ec733bb32c3.jpg");
}

.bkg-snow .mbr-section-title {
  text-align: center;
  color: #000000;
}

.bkg-snow .mbr-text,
.bkg-snow .mbr-section-btn {
  color: #232323;
  text-align: center;
}

@media (max-width: 991px) {
  .bkg-snow .mbr-section-title,
  .bkg-snow .mbr-section-btn,
  .bkg-snow .mbr-text {
      text-align: center;
  }
}