{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Chart{% endblock %}


{% block header %}
<section class="bkg-fire position-relative" id="Chart" style="padding-top: 5rem; padding-bottom: 1rem;">
  
  <!-- Overlay turquesa con tu clase limpia -->
  <div class="chart-overlay position-absolute"></div>

  <!-- Contenido centrado -->
  <div class="container text-center position-relative" style="z-index: 2;">
    <div class="row align-items-center justify-content-center">
        
      <!-- Flecha Anterior -->
      <div class="chart-links col-auto">
        <a href="{% url 'core:chart_con_fecha' fecha_ant %}" class="px-2" title="{% translate 'Anterior' %}">
          <i class="fas fa-chevron-left"></i>
        </a>
      </div>
            
      <!-- Título Central -->
      <div class="col-auto">
        <h1 class="chart-title m-0 fw-bold">
          {% translate "Protagonistas" %} {{ fecha }}
        </h1>
      </div>

      <!-- Flecha Siguiente (Activa / Deshabilitada) -->
      <div class="col-auto chart-links">
        {% if fecha < hoy %}
          <a href="{% url 'core:chart_con_fecha' fecha_sig %}" class="px-2" title="{% translate 'Siguiente' %}">
            <i class="fas fa-chevron-right"></i>
          </a>
        {% else %}
          <span class="tech-title text-muted opacity-25 px-2 cursor-not-allowed">
            <i class="fas fa-chevron-right"></i>
          </span>
        {% endif %}
      </div>

    </div>
  </div>

</section>

{% endblock %}


{% block content %} 
{% if mostrar_chart %}
<div id="bubble-container" style="width: 70vw; height: 50vh; display:flex; justify-content:center;"></div>   


{% else %}
<div>
    <p>
        Aún no se procesaron los datos del día.
    </p>
</div>
{% endif %}
</div>

{% endblock %} 

{% block extra_js %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'core/js/bubble_chart.js' %}"></script>   
<script>
    // Defino los datos en js para pasarlo a la función
    const data = {{ data_jerarquica|safe }};
    const fecha = "{{ fecha }}";    
    // Llamo a la función D3.js
    initBubbleChart(data, fecha);
</script>
{% endblock %}