{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}{% translate "Contacto" %}{% endblock %}

{% block header %}
<section class="bkg-trees position-relative py-5 flex-grow-1 d-flex align-items-center" id="contacto">
  
  <div class="position-absolute w-100 h-100 top-0 start-0 bg-white" style="opacity: 0.7; z-index: 1;"></div>

  <div class="container position-relative text-center py-4" style="z-index: 2;">
    
    <!-- Título grande -->
    <div class="row justify-content-center mb-5">
      <div class="col-12">
        <h1 class="contact-title display-2 mb-0" >
          {% translate "Contacto" %}
        </h1>
      </div>
    </div>

  <!-- Iconos y Texto -->
    <div class="row justify-content-center align-items-center pt-5">
      
      <!-- Opción Mail -->
      <div class="contact-links col-12 col-md-5 mb-4 mb-md-0">
        <a href="mailto:agustinfara@gmail.com" target="_blank" class="text-decoration-none d-inline-block">
            <span class="fas fa-envelope text-decoration-none" style="font-size: 75px;"></span>
        </a>
        <p class="h5 font-weight-normal text-dark mb-0 text-decoration-none">
            {% translate "Enviame un correo" %}
        </p>

      </div>

      <!-- Opción LinkedIn -->
      <div class="contact-links col-12 col-md-5 mb-4 mb-md-0">
        <a href="https://www.linkedin.com/in/agustinjosefara/" target="_blank" class="text-decoration-none d-inline-block">
            <span class="fab fa-linkedin text-decoration-none" style="font-size: 75px;"></span>
        </a>
        <p class="h5 font-weight-normal text-dark mb-0 text-decoration-none">
            {% translate "Contactame por Linkedin" %}
        </p>
      
      </div>

    </div>

</section>
{% endblock %}

{% block content %}
{% endblock %}

