{% extends 'core/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block bkg_img %}{% load static %}{% static '/core/img/home-bg.jpg' %}{% endblock %}

{% block header %}
  <section class="header1 bkg-paint mbr-fullscreen mbr-parallax-background" id="header1-f">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #65C6D4;">
    </div>
    <div class="align-center container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Agustín José Fara</strong></h1>                
          <p class="mbr-text mbr-fonts-style display-5">Analista Programador</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block content %}  
{% endblock %} 