{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Noticias{% endblock %}


{% block header %}
<section class="bkg-city position-relative" id="Chart" style="padding-top: 6rem; padding-bottom: 2rem;">
  
  <!-- Overlay turquesa con tu clase limpia -->
  <div class="chart-overlay position-absolute"></div>

  <!-- Contenido centrado -->
  <div class="container text-center position-relative" style="z-index: 2;">
    <div class="row align-items-center justify-content-center">
            
      <!-- Título Central -->
      <div class="col-auto">
        <h1 class="chart-title m-0 fw-bold">
          Noticias sobre: {{ protagonista }}
        </h1>
      </div>

    </div>
  </div>

</section>
{% endblock %}

{% block content %}
<div class="news-list">
    {% for n in noticias %}
    <div class="news-item">
        <div class="content">
            <span class="portal">{{ n.portal }}</span> | 
            <span class="title">{{ n.titulo }}</span> 
            <span class="freq">({{ n.frecuencia }} {% if n.frecuencia == 1 %}muestra{% else %}muestras{% endif %})</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
