<!-- Pie de página -->
<footer class="footer-custom py-2">
  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between text-center text-md-start">
    
    <!-- Copyright (A la izquierda en PC, arriba en celulares) -->
    <p class="copyright-text mb-2 mb-md-0">
      Copyright © {% now "Y" %} · Agustín José Fara
    </p>

    <!-- Redes Sociales (A la derecha en PC, abajo en celulares) -->
    <div class="social-links d-flex align-items-center justify-content-center">
      <a href="https://www.linkedin.com/in/agust%C3%ADn-f-7683561ba/" target="_blank" aria-label="LinkedIn" title="LinkedIn" class="mx-2">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/AgustinFara/" target="_blank" aria-label="GitHub" title="GitHub" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.credly.com/users/agustin-jose-fara/badges/credly" target="_blank" aria-label="Credly" title="Credly" class="mx-2 d-flex align-items-center">
        <i class="si si-credly" style="font-size: 1.05em; transform: translateY(3px);"></i>
      </a>
      <a href="mailto:agustinfara@gmail.com" target="_blank" aria-label="Email" title="Email" class="mx-2">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

  </div>
</footer>