<!-- Pie de página -->
<footer class="footer-custom py-4">
  <div class="container text-center">
    
    <!-- Redes Sociales -->
    <div class="social-links mb-3">
      <a href="https://www.linkedin.com/in/agust%C3%ADn-f-7683561ba/" target="_blank" aria-label="LinkedIn" class="mx-2">
        <span class="socicon-linkedin socicon"></span>
      </a>
      <a href="https://github.com/AgustinFara/" target="_blank" aria-label="GitHub" class="mx-2">
        <span class="socicon-github socicon"></span>
      </a>
      <a href="mailto:agustinfara@gmail.com" target="_blank" aria-label="Email" class="mx-2">
        <span class="socicon-mail socicon"></span>
      </a>
    </div>

    <!-- Copyright -->
    <p class="copyright-text mb-0">
      Copyright © {% now "Y" %} · Agustín José Fara
    </p>

  </div>
</footer>